# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Sem 2\CMPE 202\TeamProject\team-project-hilarioushurricanes\Project\Flight\src\java\models\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
